@inherits LayoutComponentBase

<body class="dark">
    <NavMenu />
    @Body
            <!-- Modale pour images
    <div class="modal" id="modal">
        <span class="close">&times;</span>
        <div class="modal-content">
            <button class="prev">&#10094;</button>
            <img id="modal-image" src="" alt="Projet">
            <button class="next">&#10095;</button>
        </div>
    </div> -->
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year Rindra Niaina</p>
    </footer>

</body>

