@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JS

<!DOCTYPE html>
<html lang="fr" data-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Auteur -->
    <meta name="google-site-verification" content="x-vrAMjzUexxRp20uw7NNce5JFTpFV6TgOtbhB-DWJY" />


    <!-- Auteur -->
    <meta name="author" content="Razafimandanona Rindra Niaina">

    <!-- Mots-clés -->
    <meta name="keywords" content="Rindra Niaina, développeur .NET, VB.NET, ASP.NET Core, WinForms, DevExpress, Entity Framework, Blazor, portfolio développeur, développeur full stack .NET, C#">

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Portfolio de Razafimandanona Rindra Niaina – Développeur .NET">
    <meta name="twitter:description" content="Découvrez mes projets ASP.NET Core, WinForms, DevExpress, et mes réalisations en .NET.">
    <meta name="twitter:image" content="https://rindra-dotnet-developer.onrender.com/assets/preview.png">


    <!-- Titre optimisé -->
    <title>Razafimandanona Rindra Niaina – Portfolio Développeur .NET & VB.NET</title>
    
    <!-- Meta description -->
    <meta name="description" content="Portfolio de Razafimandanona Rindra Niaina, développeur .NET et VB.NET. Découvrez mes projets WinForms,  API ASP.NET Core, Entity Framework et Swagger.">
    
    <!-- Balises Open Graph pour partage -->
    <meta property="og:title" content="Portfolio de Razafimandanona Rindra Niaina – Développeur .NET">
    <meta property="og:description" content="Découvrez mes projets WinForms, WPF, API ASP.NET Core, DevExpress, Entity Framework et Swagger.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rindra-dotnet-developer.onrender.com/">
    <link rel="canonical" href="https://rindra-dotnet-developer.onrender.com/">
    <base href="/" />
    <link rel="stylesheet" href="app1.css" />
    <link rel="icon" type="image/png" href="images/rindra_logo.png" />
    <link rel="preconnect" href="https://rindra-dotnet-developer.onrender.com">
    <link rel="dns-prefetch" href="https://rindra-dotnet-developer.onrender.com">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7D0HPW8VLE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7D0HPW8VLE');
    </script>
    
    <HeadOutlet />
    
</head>

<body>

<div id="loader" style="position:fixed;top:0;left:0;width:100%;height:100%;background:#fff;display:flex;align-items:center;justify-content:center;z-index:9999;">
    <div class="spinner"></div>
</div>
    <Routes />
        
        <script src="_framework/blazor.web.js"></script>
        <script src="script.js"></script>
        
        <script>
            // Applique le thème sauvegardé dès le chargement
            document.documentElement.setAttribute("data-theme", localStorage.getItem("theme") || "dark");
        </script>

    

</body>

</html>
@code{
    /*private bool _initialized;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_initialized)
        {
            _initialized = true;
            //await JS.InvokeVoidAsync("siteInterop.initAll");
            await JS.InvokeVoidAsync("siteInterop.hideLoader");
        }
    }*/
}