@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JS

<!DOCTYPE html>
<html lang="fr" data-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Auteur -->
    <meta name="google-site-verification" content="x-vrAMjzUexxRp20uw7NNce5JFTpFV6TgOtbhB-DWJY" />


    <!-- Auteur -->
    <meta name="author" content="Razafimandanona Rindra Niaina">

    <!-- Mots-clés -->
    <meta name="keywords" content="Rindra Niaina, développeur .NET, VB.NET, ASP.NET Core, WinForms, DevExpress, Entity Framework, Blazor, portfolio développeur, développeur full stack .NET, C#">

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <meta property="og:image" content="https://rindra-dotnet-developer.onrender.com/assets/profile.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:locale" content="fr_FR">

    <meta name="twitter:site" content="https://x.com/RindraNiaina3">
    <meta name="twitter:creator" content="https://x.com/RindraNiaina3">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Portfolio de Razafimandanona Rindra Niaina – Développeur .NET">
    <meta name="twitter:description" content="Découvrez mes projets ASP.NET Core, WinForms, DevExpress, et mes réalisations en .NET.">
    <meta name="twitter:image" content="https://rindra-dotnet-developer.onrender.com/assets/profile.png">


    <!-- Titre optimisé -->
    <title>Rindra Niaina | Développeur .NET, ASP.NET Core, Blazor & VB.NET à Madagascar</title>
    
    <!-- Meta description -->
    <meta name="description" content="Rindra Niaina Razafimandanona, développeur .NET basé à Madagascar. Expert en ASP.NET Core, Blazor, VB.NET, C#, WinForms et SQL Server. Découvrez mes projets professionnels et réalisations.">
    <!-- Balises Open Graph pour partage -->
    <meta property="og:title" content="Portfolio de Razafimandanona Rindra Niaina – Développeur .NET">
    <meta property="og:description" content="Découvrez mes projets WinForms, WPF, API ASP.NET Core, Entity Framework et Swagger.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rindra-dotnet-developer.onrender.com/">
    <link rel="canonical" href="https://rindra-dotnet-developer.onrender.com/">
    <meta name="robots" content="index, follow">
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="stylesheet" href="app.css" />
    <link rel="icon" type="image/png" href="images/rindra_logo.png" />
    <link rel="preconnect" href="https://rindra-dotnet-developer.onrender.com">
    <link rel="dns-prefetch" href="https://rindra-dotnet-developer.onrender.com">

    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300;14..32,400;14..32,600;14..32,700;14..32,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- AOS Animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script type="application/ld+json">
    {
        "@@context":"https://schema.org",
        "@@type":"Person",
        "name":"Razafimandanona Rindra Niaina",
        "url":"https://rindra-dotnet-developer.onrender.com",
        "image":"https://rindra-dotnet-developer.onrender.com/assets/profile.png",
        "jobTitle":"Développeur Full Stack .NET",
        "description":"Développeur .NET spécialisé en ASP.NET Core, Blazor, VB.NET, C#, SQL Server et DevExpress.",
        "nationality":"Madagascar",
        "knowsAbout":[
            ".NET",
            "ASP.NET Core",
            "Blazor",
            "VB.NET",
            "C#",
            "SQL Server",
            "Entity Framework"
        ],
        "sameAs":[
            "https://github.com/Rindra1",
            "https://linkedin.com/in/rindra-niaina-razafimandanona-1ab51b120",
            "https://x.com/RindraNiaina3"
        ]
    }
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7D0HPW8VLE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7D0HPW8VLE');
    </script>
    <!-- SEO fallback (très important pour Blazor) -->
    <noscript>
        <h1>Développeur Full stack .NET – Portfolio Rindra Niaina</h1>
        <p>Portfolio de projets ASP.NET Core, WinForms, DevExpress, Entity Framework.</p>
    </noscript>
    
    <HeadOutlet @rendermode="InteractiveServer" />
    
</head>

<body class="light">

<!--<div id="loader">
  <div class="loader-animation">
    <div></div><div></div><div></div><div></div><div></div>
  </div>
</div>-->


    <Routes />
        
        <script src="_framework/blazor.web.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="./script.js"></script>

    

</body>

</html>
@code{
    /*private bool _initialized;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_initialized)
        {
            _initialized = true;
            //await JS.InvokeVoidAsync("siteInterop.initAll");
            await JS.InvokeVoidAsync("siteInterop.hideLoader");
        }
    }*/
}