@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Titre optimisé -->
    <title>Razafimandanona Rindra Niaina – Portfolio Développeur .NET & VB.NET</title>
    
    <!-- Meta description -->
    <meta name="description" content="Portfolio de Razafimandanona Rindra Niaina, développeur .NET et VB.NET. Découvrez mes projets WinForms,  API ASP.NET Core, Entity Framework et Swagger.">
    
    <!-- Balises Open Graph pour partage -->
    <meta property="og:title" content="Portfolio de Razafimandanona Rindra Niaina – Développeur .NET">
    <meta property="og:description" content="Découvrez mes projets WinForms, WPF, API ASP.NET Core, DevExpress, Entity Framework et Swagger.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://portofolioapi-8nmz.onrender.com/">
    <link rel="canonical" href="https://rindra-dotnet-developer.dev/">
    <base href="/" />
    <link rel="stylesheet" href="app1.css" />
    <link rel="icon" type="image/png" href="faviconrindra.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
        <script src="script1.js"></script>

    <script src="_framework/blazor.web.js"></script>


</body>

</html>
