@page "/"

@rendermode InteractiveServer

@using PortofolioApi.Components.Layout
@using PortofolioApi.Components.Shared
<main>
        <NavMenu Localizer="Localizer"/>
        <PortofolioApi.Components.Shared.Home portfolio="portfolio" Localizer="Localizer" />
        <About Localizer="Localizer" portfolio="portfolio"/>
        <Projects Localizer="Localizer" portfolio="portfolio"/>
        <Exeperiences Localizer="Localizer" portfolio="portfolio" />
        <Services Localizer="Localizer"/>
        <Contact Localizer="Localizer" portfolio="portfolio" />

<ChatBot Localizer="Localizer" />

    <Footer Localizer="Localizer"/> 
</main>
