@page "/"

@rendermode InteractiveServer

@using PortofolioApi.Components.Layout
@using PortofolioApi.Components.Shared

<main>
    <div id="loader-home" class="page-loader">
        <div class="loader-animation">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <PortofolioApi.Components.Shared.Home portfolio="portfolio" Localizer="Localizer" />
    <About Localizer="Localizer" portfolio="portfolio"/>
    <Projects Localizer="Localizer" portfolio="portfolio"/>
    <Exeperiences Localizer="Localizer" portfolio="portfolio" />
    <Services Localizer="Localizer"/>
    <Contact Localizer="Localizer" portfolio="portfolio" />
</main>
<ChatBot Localizer="Localizer" />

<Footer Localizer="Localizer"/>

@code {
    
}