@page "/login"

@rendermode InteractiveServer
@inherits LoginBase



<section id="login-section">
  <div class="login-container">
    <h2>Connexion</h2>
    <h2>@message</h2>
    <form class="login-form">
      <input type="text" @bind="userLogin.Pseudo" placeholder="Nom d'utilisateur" required>
      <input type="password" @bind="userLogin.MotDePasse" placeholder="Mot de passe" required>
      <button type="button" @onclick="Connect" class="btn-details">Se connecter</button>
    </form>
    <p class="login-info">Pas encore de compte ? <a href="#">Inscrivez-vous</a></p>
  </div>
</section>

