@page "/utilisateur"
@rendermode InteractiveServer
@inherits UtilisateurBase
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations



<section id="add-project" class="fade">
  <h2>Detail utilisateur</h2>
  <div class="project-container">
    <!-- Formulaire côté gauche -->
    <form class="project-form">
      <input type="text" @bind="newUtilisateur.Nom" placeholder="Votre nom" required>
      <input type="text" @bind="newUtilisateur.Prenom"  placeholder="Votre prenom" required>
      <input type="text" @bind="newUtilisateur.resume"  placeholder="Votre prenom" required>
      <textarea @bind="newUtilisateur.APropos" placeholder="A propos de vous" required></textarea>
      <InputFile OnChange="OnFileSelected"  id="imageInput"/>
    </form>

    <div class="project-list">
        <input @bind="newContact.TypeContact" type="text" placeholder="Type contact(Email,github,...)" required>
        <input @bind="newContact.AdresseContact" type="text" placeholder="Contact" required>
        <button @onclick="AjouterContact" class="btn-details">Ajouter</button>
        <button type="button" @onclick="Enregistrer" class="btn-details">Enregistrer</button>
        <div class="user-table-container">
          <table class="user-table">
            <thead>
              <tr>
                <th>Type Contact</th>
                <th>Valeur</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var contact in contacts)
              {
                <tr>
                  <td>@contact.TypeContact</td>
                  <td>@contact.AdresseContact</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
    </div>
  </div>
</section>





